/**
 * Style Maker.cl
 * For Maker.cl
 * Octubre 2012
 *  
 * Author: Leonardo Olivares
 * 		   leonardo.olivares@me.com
 * 		   @lucyan
 */

 /* Fuentes */
 @font-face
{
	font-family: 'champagne';
	src: url('fuentes/Champagne_Limousines.ttf');
}
@font-face
{
	font-family: 'bebasneue';
	src: url('fuentes/BebasNeue.otf');
}

/* General */
body {
	font-family: 'champagne';
	font-size: 20pt;
	line-height: normal;
}

/* Info */

#info-btn {
	font-family: 'bebasneue';
	vertical-align: middle;
	font-size: 13pt;
	background-color: #23130d;
	color: #FFF;
	width: 100%;
	padding: 5px 0;
	padding-left: 10%;
	cursor: pointer;
}

#info {
	height: 330px;
	background-color: #FFF;
	font-family: 'bebasneue';
	display: none;
}

#info div#contenido {
	margin: 0 auto;
	position: relative;
	width: 900px;
	height: 290px;
	padding-top: 30px;
}

#info div h1 {
	color: #ec7553;
	font-size: 40pt;
}

#info div#facebook img, #info div#facebook div#texto{
	display: inline-block;
}

#info div#facebook div#texto {
	vertical-align: top;
	margin-top: 10px;
	margin-left: 10px;
}

#info div#facebook div#texto div#titulo {
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	font-size: 13px;
	color: #3B5998;
}

#info div#facebook div#texto div#titulo a {
	font-size: 15px;
	font-weight: bold;
	color: #3B5998;
	text-decoration: none;
}

#info div#facebook div#texto div#titulo a:hover {
	text-decoration: underline;
}


/* Menu */
#menu {
	right: 0px;
	position: fixed;
	z-index: 500;
	margin-top: 65px
}

#menu div {
	height: 27px;
	margin-bottom: 5px;
}

#menu div img {
	float: right;
	cursor: pointer;
}


/* Parallax */
.story { 
	height: 1000px; 
	padding: 0; 
	margin: 0; 
	width: 100%; 
	max-width: 1920px; 
	min-width: 1431px;
	position: relative; 
	margin: 0 auto; 
	box-shadow: 0 0 50px rgba(0,0,0,0.8);
}
.capas { 
	min-height: 1000px; 
	padding: 0; 
	margin: 0; 
	width: 100%; 
	max-width: 1920px; 
	position: relative; 
	margin: 0 auto; 
	position: absolute;
}


/* Fondos */
#home { 
	background: url(../images/seccion-1/fondo.png) 50% 0 no-repeat fixed; 
}
#servicios { 
	background: url(../images/seccion-2/fondo.png) 50% 0 no-repeat fixed; 
}
#portafolio { 
	background: url(../images/seccion-3/fondo.png) 50% 0 no-repeat fixed; 
}
#contacto { 
	background: url(../images/seccion-4/fondo.png) 50% 0 no-repeat fixed; 
}

/* HOME */
#home article {
	width: 500px;
	text-align: justify;
	padding-top: 130px;
	right: 20%;
	position: absolute;
}
#home p.puntos {
	font-size: 50pt;
	text-align: center;
}
#home .num-1 {
	background: url(../images/seccion-1/1.png) transparent 73px 124px no-repeat fixed; 
}
#home .num-2 {
	background: url(../images/seccion-1/2.png) transparent 0 0 no-repeat fixed; 
}
#home .num-3 {
	background: url(../images/seccion-1/3.png) transparent 0 520px no-repeat fixed; 
}
#home .num-4 {
	background: url(../images/seccion-1/4.png) transparent 0 0px no-repeat fixed; 
}

/* SERVIVIOS */
#servicios article { 
	background: url(../images/seccion-2/fondo-articulo.png) 0 0 no-repeat;
	background-size: cover;
	width: 1431px;
	height: 1400px;
	margin: 0 auto;
	text-align: justify;
	font-size: 15pt;
}

#servicios article div {
	padding-top: 250px;
	display: inline-block;
	width: 264px;
	vertical-align: top;
}

#servicios article div h1 {
	font-size: 31pt;
	text-align: left;
}

#servicios article div h1, #servicios article div p {
	margin-bottom: 30px;
}

#servicios article .web {
	margin-left: 55px;
	color: #f7f7f7;
}

#servicios article .corporativo {
	margin-left: 40px;
	color: #23130d;
}

#servicios article .apps {
	margin-left: 37px;
	color: #f7f7f7;
}

#servicios article .social {
	margin-left: 38px;
	color: #23130d;
}

/* PORTAFOLIO */
#portafolio .clientes { 
	background: url(../images/seccion-3/clientes.png) transparent 0 0 no-repeat fixed; 
}

/* CONTACTO */
#contacto .imagen { 
	background: url(../images/seccion-4/imagen.png) transparent 0 0 no-repeat fixed; 
}


/* Footer */
#footer {
	font-family: 'bebasneue';
	vertical-align: middle;
	font-size: 15pt;
	background-color: #23130d;
	color: #FFF;
	width: 100%;
	padding: 20px 0;
	padding-left: 10%;
}
