/**
 * Style Maker.cl
 * For Maker.cl
 * Octubre 2012
 *  
 * Author: Leonardo Olivares
 * 		   leonardo.olivares@me.com
 * 		   @lucyan
 */

 /* Fuentes */
 @font-face
{
	font-family: 'champagne';
	src: url('fuentes/Champagne_Limousines.ttf');
}
@font-face
{
	font-family: 'bebasneue';
	src: url('fuentes/BebasNeue.otf');
}

/* General */
body {
	background: url(../images/home/fondo.png) 0 0 no-repeat fixed;
	background-size: cover;
	font-family: 'champagne';
	font-size: 15pt;
	line-height: normal;
}

a, a:hover, a:active, a:visited, a:link {
	color: transparent;
	border: 0 none;
}

/* Info */

#info-btn {
	font-family: 'bebasneue';
	vertical-align: middle;
	font-size: 13pt;
	background-color: #23130d;
	color: #EC7553;
	padding: 5px 0;
	padding-left: 10%;
	cursor: pointer;
}

#info {
	height: 330px;
	background-color: #FFF;
	font-family: 'bebasneue';
	display: none;
}

#info div#contenido {
	margin: 0 auto;
	position: relative;
	width: 900px;
	height: 290px;
	padding-top: 30px;
}

#info div h1 {
	color: #ec7553;
	font-size: 40pt;
}

#info div#facebook img, #info div#facebook div#texto{
	display: inline-block;
}

#info div#facebook div#texto {
	vertical-align: top;
	margin-top: 10px;
	margin-left: 10px;
}

#info div#facebook div#texto div#titulo {
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	font-size: 13px;
	color: #3B5998;
}

#info div#facebook div#texto div#titulo a {
	font-size: 15px;
	font-weight: bold;
	color: #3B5998;
	text-decoration: none;
}

#info div#facebook div#texto div#titulo a:hover {
	text-decoration: underline;
}

#info img.mascota {
	position: absolute;
	top: 115px;
	right: 15%;
}


/* Menu */
#menu {
	right: 0px;
	position: fixed;
	z-index: 500;
	margin-top: 65px
}

#menu div {
	height: 25px;
	margin-bottom: 5px;
}

#menu div span {
	float: right;
	cursor: pointer;
	height: 25px;
	transition: background-position 0.3s;
	-moz-transition: background-position 0.3s; /* Firefox 4 */
	-webkit-transition: background-position 0.3s; /* Safari and Chrome */
	-o-transition: background-position 0.3s; /* Opera */
}

#menu div span.home-img {
	width: 111px;
	background: url(../images/menu/home.png) 0 25px;
}
#menu div span.home-img:hover {
	background-position: 0px 0px;
}

#menu div span.servicios-img {
	width: 135px;
	background: url(../images/menu/servicios.png) 0 25px;
}
#menu div span.servicios-img:hover {
	background-position: 0px 0px;
}

#menu div span.portafolio-img {
	width: 143px;
	background: url(../images/menu/portafolio.png) 0 25px;
}
#menu div span.portafolio-img:hover {
	background-position: 0px 0px;
}

#menu div span.contacto-img {
	width: 135px;
	background: url(../images/menu/contacto.png) 0 25px;
}
#menu div span.contacto-img:hover {
	background-position: 0px 0px;
}


/* Parallax */
.story { 
	height: 751px; 
	padding: 0; 
	margin: 0; 
	width: 100%; 
	max-width: 1920px; 
	position: relative; 
	margin: 0 auto; 
	box-shadow: 0 0 50px rgba(0,0,0,0.8);
}
.capas { 
	height: 751px; 
	padding: 0; 
	margin: 0; 
	width: 100%; 
	max-width: 1920px; 
	position: absolute; 
	margin: 0 auto;
}


/* Fondos */
#home { 
	background: url(../images/home/fondo.png) 50% 0 no-repeat fixed;

}
#servicios { 
	background: url(../images/servicios/fondo.png) 50% 0 no-repeat fixed; 
}
#portafolio { 
	background: url(../images/portafolio/fondo.png) 50% 0 no-repeat fixed;
}
#contacto { 
	background: url(../images/contacto/fondo.png) 50% 0 no-repeat fixed; 
}

/* HOME */
#home article {
	width: 380px;
	text-align: justify;
	padding-top: 190px;
	right: 18%;
	position: absolute;
}
#home p.puntos {
	font-size: 40pt;
	text-align: center;
}
#home .num-1 {
	background: url(../images/home/1.png) transparent 50% -330px no-repeat fixed; 
}
#home .num-2 {
	background: url(../images/home/2.png) transparent 50% -330px no-repeat fixed; 
}
#home .num-3 {
	background: url(../images/home/3.png) transparent 50% -330px no-repeat fixed; 
}
#home .num-4 {
	background: url(../images/home/4.png) transparent 50% -330px no-repeat fixed; 
}

/* SERVIVIOS */
#servicios {
	z-index: 3;
}
#servicios article { 
	background: url(../images/servicios/fondo-articulo.png) 0 0 no-repeat;
	background-size: cover;
	max-width: 1431px;
	height: 751px;
	margin: 0 auto;
	text-align: justify;
	font-size: 15pt;
}

#servicios article div {
	padding-top: 100px;
	display: inline-block;
	width: 264px;
	vertical-align: top;
}

#servicios article div h1 {
	font-size: 31pt;
	text-align: left;
}

#servicios article div h1, #servicios article div p {
	margin-bottom: 30px;
}

#servicios article .web {
	margin-left: 55px;
	color: #f7f7f7;
}

#servicios article .corporativo {
	margin-left: 40px;
	color: #23130d;
}

#servicios article .apps {
	margin-left: 37px;
	color: #f7f7f7;
}

#servicios article .social {
	margin-left: 38px;
	color: #23130d;
}

/* PORTAFOLIO */
#portafolio {
	z-index: 2;
}
#portafolio .clientes { 
	background: url(../images/portafolio/clientes.png) transparent 0 0 no-repeat fixed; 
}

#portafolio .clientes-info {
	display: block;
	position: absolute;
	text-align: center;
	z-index: 1;
}

#portafolio table {
	margin: 0 auto;
}

#portafolio table td {
	text-align: left;
	border-spacing: 4px;
	vertical-align: bottom;
}

/*td, tr {
	border: 1px solid black;
}*/

/* CONTACTO */
#contacto {
	z-index: 4;
}

#contacto article {
	
	height: 751px;
	margin: 0 auto;
	text-align: justify;
	font-size: 12pt;
	font-family: 'bebasneue';
	
}

#contacto article #formulario {
	padding-top: 50px;
	padding-left: 100px;
	width: 450px;
	
}

#contacto article #formulario h1 {
	color: #62bdaf;
	font-size: 50pt;
	font-weight: bold;
	text-align: left;
	}

#contacto article #formulario form {
	font-size: 14pt;
	font-family: 'champagne';
	
}

#contacto article #formulario form fieldset.mailfono div {
	display: inline-block;
	width: 47%;	
	
}

#contacto article #formulario form input[name="nombre"] {
	width: 76%;
	
}
#contacto article #formulario form input[name="email"] {
	width: 90%;
	
}
#contacto article #formulario form input[name="fono"] {
	width: 65%;
	
}
#contacto article #formulario form input[name="asunto"] {
	width: 76%;
	margin-left: 16px;
	
}

#contacto article #formulario form textarea {
	width: 95%;
	height: 80px;
	resize: none;
}

#contacto article #formulario form label {
	display: block;
	color: #62bdaf;
}

#contacto article #formulario form span.obligatorio {
	color: #e9774d;
	margin-right: 1px;
	vertical-align: top;
}

#contacto article #formulario form fieldset.final input[type="submit"] {
	margin-left: 14px;
	border: none;
	font-size: 14pt;
	background-color: #62bdaf;
	padding: 5px 25px;
}

#contacto article #formulario form fieldset.final div.desobl {
	color: #837c76;
	font-size: 10pt;
	display: inline-block;
	float: right;
	margin-right: 0px;
}
#contacto article #formulario form fieldset.final div.desob2 {
	color: #8c8c8c;
	font-size: 10pt;
	display: inline-block;
	float: center;
	margin-right: 0px;
}

#contacto article #formulario form fieldset.final div.captcha {
	margin-left: 16px;
	margin-bottom: 20px;
}

#contacto article #formulario form fieldset.final div.captcha input {
	width: 100px;
}

#contacto article #formulario .alternativa {
	font-family: 'champagne';
	font-size: 12pt;
	text-align: left;
	color: #22120c;
	margin-top: 30px;
	padding: 0px 15px;
}

#contacto article #formulario .alternativa .correo a {
	font-family: 'bebasneue';
	font-size: 14pt;
	color: #62bdaf;
	text-decoration: none;
	padding: 0px 0px;
}

#contacto article #formulario .alternativa .correo a:hover {
	text-decoration: underline;
}

#contacto .num-5 {
	background: url(../images/contacto/imagen.png) transparent 50% -330px no-repeat fixed;
	z-index: -1;
}

/* Footer */
#footer {
	font-family: 'bebasneue';
	vertical-align: middle;
	font-size: 15pt;
	background-color: #23130d;
	color: #EC7553;
	padding: 15px 0;
	padding-left: 7%;
}
